<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wangEditor simple mode</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet"> -->
    <link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
    <style>


    </style>

</head>

<body>

    <demo-nav title="wangEditor simple mode"></demo-nav>
    <div class="page-container">
        <div class="page-left">
            <demo-menu></demo-menu>
        </div>
        <div class="page-right">
            <!-- 编辑器 DOM -->
            <div style="border: 1px solid #ccc;">
                <div id="editor-toolbar" style="border-bottom: 1px solid #ccc;"></div>
                <div id="editor-text-area" style="height: 500px"></div>
            </div>


        </div>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/index.min.js"></script> -->
    <script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
    <script>
        const E = window.wangEditor

        // 切换语言
        const LANG = location.href.indexOf('lang=en') > 0 ? 'en' : 'zh-CN'
        E.i18nChangeLanguage(LANG)

        // 默认内容
        var html = ``
        var content, selectionTextLength, textLength
        var textarea = document.getElementById('editor-content-textarea')
        window.editor = E.createEditor({
            selector: '#editor-text-area',
            html,
            mode: 'simple',
            config: {
                placeholder: 'Type here...',
                MENU_CONF: {
                    uploadImage: {
                        fieldName: 'your-fileName',
                        base64LimitSize: 10 * 1024 * 1024 // 10M 以下插入 base64
                    }
                },
                onChange() {
                    const content = editor.getHtml();
                    // 只在内容不为空时保存
                    if (content.trim()) {
                        localStorage.setItem('editorContent', content);
                    }
                }
            }
        })

        // 初始化编辑器后，设置已保存的内容
        const savedContent = localStorage.getItem('editorContent')
        if (savedContent) {
            // 使用 setHtml 方法替代 dangerouslyInsertHtml
            editor.setHtml(savedContent)
        }

        window.toolbar = E.createToolbar({
            editor,
            mode: 'simple',
            selector: '#editor-toolbar',
            config: {}
        })
    </script>
</body>

</html>