<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>忘记密码 - AC.蚂蚁 - 资源免费分享</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../plug/Message/message.css">
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <h1>AC.蚂蚁</h1>
        </div>
        
        <form class="forgot-password-form">
            <div class="form-group">
                <input type="text" placeholder="用户名/邮箱" required>
                <i class="fa-solid fa-user"></i>
            </div>
            
            <button type="submit" class="forgot-password-btn">获取新密码</button>
        </form>
        
        <div class="login-footer">
            <p>您会收到一封包含重设密码指引的邮件</p>
            <p><a href="/login">返回登录</a></p>
        </div>
    </div>

    <script src="../api/config.js"></script>
    <script src="../js/user.js"></script>
    <script src="../js/debug.js"></script>
    <script src="../plug/Message/Message.js"></script>
</body>
</html>
