<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>重置密码 - AC.蚂蚁 - 资源免费分享</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <h1>AC.蚂蚁</h1>
        </div>
        
        <form class="reset-password-form">
            <div class="form-group">
                <input type="password" placeholder="新密码" required autocomplete="new-password">
                <i class="fa-solid fa-lock"></i>
            </div>
            
            <div class="form-group">
                <input type="password" placeholder="确认新密码" required autocomplete="new-password">
                <i class="fa-solid fa-lock"></i>
            </div>
            
            <button type="submit" class="reset-password-btn">重置密码</button>
        </form>
        
        <div class="login-footer">
            <p><a href="/login">返回登录</a></p>
        </div>
    </div>

    <div id="loading" style="display: none;">
        <p>页面加载中...</p>
    </div>


    <script src="../api/config.js"></script>
    <script src="../js/user.js"></script>
    <script src="../plug/Message/Message.js"></script>
</body>
</html> 